@charset "utf-8";
/* CSS Document */
#wrapper1{
	
	width:900px;
	height:890px;
	background-color:black;
	margin:auto;
	
}

#wrapper{

	width:900px;
	height:700x;
	background-color:white;
	
	 
	}
#background{
    padding-top:150px;
	background-image:url(img/manzara.gif);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;	
	}	
	
	
#copyright{
	   padding-top:10px;
		padding-left:30px;
		color:#FFFFFF;
		font-size:12px;
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;	
	
	
	}
#textarea{
	padding:auto;
	padding-left:10px;
	padding-right:10px;
	}
#text1{
padding-left:40px;
text-shadow: 5px 5px 5px #FF0000 ;

	}
#textarea2{
padding-left:10px;
padding-right:10px;	
	}	
#textarea3{
padding-left:10px;
padding-right:10px;	
	}	
#textarea4{
padding-left:10px;
padding-right:10px;	
	}	
	}
				
	
	
	
	
	